.histogram {
    display: flex;
    align-items: flex-end;
    width: 512px;
    min-heigth: 120px;
    height: 120px;
    margin-left: 20px;
    border: 1px solid gray;
}

.over{
    background-color: rgba(180, 70, 149, 0.58);

}

.bar {
    background-color: steelblue;
    width: 4px;
    min-width: 2px;
}

#root {
    display: flex;
    flex-wrap: wrap;
}

.img {
    width: 160px;
    height: 120px;
}
